@import "tailwindcss";

:root {
  --global-bg-color: #004d70; /* default background color */
  --journal-font: 'Inter', sans-serif; /* default font for journal entries */
}

/* Then, in your CSS for pages, use these variables */
body {
  background-color: var(--global-bg-color);
}

/* For example, in your Journal page CSS, set the font-family using the variable */
.journalEntry {
  font-family: var(--journal-font);
}






html, body {
  background: #8FB9CC;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
